body{
    background-color: black;
}

.Page{
    display: flex;
    flex-direction: column;
}

.Nome_inicial{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    
}
    
.section_descrição{

    color: white;
    display: flex;
    justify-content: center;
}


footer{
    color: white;
    position: absolute;
    bottom: 0;
    width: 99vw;
}

.Footer{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}